/*
* variables
*/

/* 颜色 */
$colors: (
  // 字体的颜色
  dark-1: #333,
  dark-2: #666,
  dark-3: #999,
  dark-4: #eee,
  // 基础色
  primary: #ffc6ee,
  strength: #52f41d,
  light: #f6f9fa,
);

/* 边框颜色 */
$border-color: map-get($colors, "dark-4");

/* 定义字体基本大小值 */
$font-base-size: 1rem;

/* 定义字体常用大小倍数*/
// 考虑到适配性，我们需要将像素单位转化为rem；
// 采用了Vscode的换算插件："px to rem"。
$font-size: (
  // 这里转化后把rem省略，表示倍数，待会用倍数乘以基本大小即可。
  xxs: 0.6154, // 8px
  xs: 0.7692, // 10px
  sm: 0.9231, // 12px
  md: 1, // 13px
  lg: 1.0769, // 14px
  xl: 1.2308, // 16px
  xxl: 2, //26px
);

/* flex布局中的变量 */
// justify-content
$flex-jc: (
  start: flex-start,
  end: flex-start,
  center: center,
  between: space-between,
  around: space-around
);

// align-item
$flex-ai: (
  start: flex-start,
  end: flex-start,
  center: center,
  stretch: stretch
);

/* 边距变量 */
// 类型及方向
$spacing-types: ( m: margin, p: padding );
$spacing-directions: ( t: top, r: right, b: bottom, l: left );

// 边距基本尺寸大小
$spacing-base-size: 1rem;

// 定义常用边距大小的倍数
$spacing-sizes: (
  "f2":-0.5,
  0: 0, 
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
  6: 5
);

$border-radius: (
  base: 4px,
  small: 2px,
  large: 6px
)


