@font-face {
  font-family: "iconfont"; /* Project id 3347148 */
  src: url('iconfont.woff2?t=1650999073637') format('woff2'),
       url('iconfont.woff?t=1650999073637') format('woff'),
       url('iconfont.ttf?t=1650999073637') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lofter:before {
  content: "\e638";
  color: #326061;
}

.icon-weibo:before {
  content: "\e636";
  color: #e81024;
}

.icon-instagram:before {
  content: "\e68d";
  color: #e02668;
}

.icon-twitter:before {
  content: "\e600";
  color: #5aa9e0;
}

